.Skills
    height: 300vh
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    .Skills__container
        position: relative
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-direction: column
        .container__title
            position: relative
            width: 100%
            display: flex
            flex-direction: column
            font-size: 120px
            text-align: end
            padding-right: 40px
            box-sizing: border-box
            span
                &:nth-of-type(2)
                    span
                        color: #1DBF73
        .container__box
            position: relative
            width: 70%
            min-width: 1031px
            max-width: 1212px
            display: grid
            grid-template-areas: ". box_name . ." "box_picture box_picture box_text ." "box_picture box_picture . ."
            .box__name
                grid-area: box_name
                height: 240px
                display: flex
                align-items: flex-start
                justify-content: flex-end
                padding: 0px 20px 20px 0px
                flex-direction: column
                border-right: 1px solid #E3DEDE
                .name__title
                    padding-bottom: 10px
                    font-size: 50px
                .name__description
                    font-family: 'Libre Baskerville', sans-serif
                    font-style: italic
                    font-weight: normal
                    color: #848484
                    span
                        &:nth-of-type(1)
                            color: #000000
                            font-weight: 600
                            font-family: 'Roboto', sans-serif
            .box__picture
                grid-area: box_picture
                position: relative
                // max-width: 80%
                // min-width: 360px
                // height: auto
                // padding: 20px 20px 20px 0
            .box__text
                font-style: italic
                border-top: 1px solid #E3DEDE
                grid-area: box_text
                color: #4A4A4A
                font-size: 20px
                padding-left: 20px
                padding-top: 20px
                span
                    &:nth-of-type(1)
                        color: #000000
                        font-weight: bold
    .Skills__container--list
        position: relative
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-direction: column
        .container__title
            font-size: 60px
            padding: 20px
            span
                &:nth-of-type(1)
                    color: #000000
                    font-weight: 700
                &:nth-of-type(2)
                    font-family: 'Libre Baskerville', sans-serif
                    font-style: italic
                    font-weight: 400
        .container__list
            list-style: none
            width: 100%
            padding: 20px 0px 0px 0px
            .list__item
                display: flex
                justify-content: flex-start
                .item__icon
                    font-size: 260px
                .--react
                    color: #14DBE8
            .item__box
                width: 700px
                .box__title
                    color: #000000
                    font-weight: 700
                    font-size: 55px
                .box__info
                    font-family: 'Libre Baskerville', sans-serif
                    font-style: italic
                    font-weight: 400
                    color: #848484
                    span
                        color: #4A4A4A
                        font-weight: 600
