.Skills
    height: 300vh
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    .Skills__container
        position: relative
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-direction: column
        .container__title
            position: relative
            width: 100%
            display: flex
            flex-direction: column
            font-size: 120px
            text-align: end
            padding-right: 40px
            box-sizing: border-box
            span
                &:nth-of-type(2)
                    span
                        color: #1DBF73
        .container__box
            position: relative
            width: 100%
            height: 100%
            display: flex
            flex-direction: row
            align-items: flex-start
            justify-content: space-between
            box-sizing: border-box
            .box__piece
                .piece__name
                    height: 240px
                    display: flex
                    align-items: flex-end
                    justify-content: flex-end
                    padding-bottom: 40px
                    flex-direction: column
                    border-right: 1px solid #E3DEDE
                    .name__title
                        padding-bottom: 10px
                    .name__description
                        width: 200px
                        color: #848484
                        span
                            &:nth-of-type(1)
                                color: #000000
                                font-style: italic
                                font-weight: 700
                .pice__picture
                    position: relative
                    max-width: 80%
                    min-width: 360px
                    height: auto
                    padding: 20px 20px 20px 0
            .box__bio
                position: relative
                width: 100%
                height: 100%
                display: flex
                flex-direction: column
                justify-content: flex-end
                .bio__about
                    width: 830px
                    .about__text
                        font-family: 'Libre Baskerville', sans-serif
                        color: #4A4A4A
                        font-weight: 700
    .Skills__container--list
        position: relative
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-direction: column
        .container__title
            font-size: 60px
            padding: 20px
            span
                &:nth-of-type(1)
                    color: #000000
                    font-weight: 700
                &:nth-of-type(2)
                    font-family: 'Libre Baskerville', sans-serif
                    font-style: italic
                    font-weight: 400
        .container__list
            list-style: none
            width: 100%
            padding: 20px 0px 0px 0px
            .list__item
                display: flex
                justify-content: flex-start
                .item__icon
                    font-size: 260px
                .--react
                    color: #14DBE8
            .item__box
                width: 700px
                .box__title
                    color: #000000
                    font-weight: 700
                    font-size: 55px
                .box__info
                    font-family: 'Libre Baskerville', sans-serif
                    font-style: italic
                    font-weight: 400
                    color: #848484
                    span
                        color: #4A4A4A
                        font-weight: 600
