.Home
    font-family: 'Roboto', sans-serif
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .Home__section--welcome
        position: relative
        width: 92%
        height: 88vh
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        background: #E2E2E2
        .section__container
            position: relative
            display: flex
            justify-content: flex-end
            align-items: flex-end
            overflow: hidden
            .container__text
                font-size: 90px
                color: #000000
                height: 88px
                z-index: 200
            .container__text--dot
                width: 14px
                height: 14px
                background: #1DBF73
                border-radius: 50%
                // right: 0
                // margin: 20px
      
            
               
  


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap')
  
