.Home
    font-family: 'Roboto', sans-serif
    width: inherit
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    padding: 0 60px 0 60px

.Home > section
    position: relative
    width: 100%
    height: 87.5vh
   
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto:wght@400;700;900&display=swap')
