.Home
    font-family: 'Roboto', sans-serif
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .Home__section--welcome
        position: relative
        width: 92%
        height: 88vh
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        background: #E2E2E2
        .section__container
            overflow: hidden
            width: 588px
            height: 100px
            display: flex
            justify-content: flex-start
            align-items: flex-start
            flex-direction: column
            animation: showOverflow 1.75s
            animation-delay: 2s
            animation-fill-mode: forwards
            .container__firstSection
                transform: translate3d(0, 100%, 0)
                display: flex
                justify-content: flex-end
                align-items: flex-end
                animation: moveWelcome 1.75s
                animation-delay: 0.5s
                animation-fill-mode: forwards
                .firstSection__text
                    font-size: 70px
                    color: #000000
                    height: 68px
                .firstSectionr__text--dot
                    width: 12px
                    height: 12px
                    background: #1DBF73
                    border-radius: 50%
            .container__secondSection
                // transform: translate3d(0, 100%, 0)
                display: flex
                justify-content: space-between
                align-items: flex-start
                flex-direction: column
                // animation: showTopText 1.75s
                // animation-delay: 1.75s
                // animation-fill-mode: forwards
                .secondSection__text
                    font-size: 70px
                    color: #000000
                    
            
    @keyframes showTopText 
        0%  
            transform: translate3d(0, 100%, 0)
        40%, 60%  
            transform: translate3d(0, 0%, 0)
        100% 
            transform: translate3d(0, -100%, 0)


    @keyframes moveWelcome
        0% 
            transform: translate3d(0, 100%, 0) 
        40%, 60%  
            transform: translate3d(0, 0, 0)
        100%  
            transform: translate3d(0, -120%, 0) 
            visibility: hidden

    @keyframes showOverflow
        from,to
            overflow: visible

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap')
