*
  margin: 0
  .App
    position: absolute
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .App__header
    position: fixed
    width: 100%
    height: 60px
    z-index: 20
    top: 0
  .App__sidebar
    position: fixed
    width: 60px
    height: 100%
    left: 0
    display: flex
    justify-content: flex-start
    align-items: center
    z-index: 20 
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    .sidebar__shading
      position: absolute
      width: 100vw
      height: 100vh
      background: #000000cc
      z-index: 10
    .sidebar__content
      width: 0vw
      height: 100vh
      background: white
      z-index: 20
      transition: all 0.3s ease-in-out
    .sidebar__box
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      transform: rotate(270deg)
      color: #000
      z-index: 20
      &:hover
        cursor: pointer
      .box__icon
        font-size: 26px
        transform: rotate(90deg)
      .box__text
        font-size: 20px
  .App__main
    position: relative
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: flex-start
    box-sizing: border-box
  .App__footer
    position: fixed
    width: 100%
    height: 60px
    bottom: 0
    z-index: 20
