*
  margin: 0
  .App
    position: absolute
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .App__header
    position: fixed
    width: 100%
    height: 60px
    z-index: 20
    top: 0
  .App__sidebar
    position: fixed
    width: 60px
    height: 100%
    left: 0
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: flex-end
    z-index: 20
    .sidebar__box
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      transform: rotate(270deg)
      color: #000
      .box__icon
        font-size: 26px
        transform: rotate(90deg)
      .box__text
        font-size: 20px
  .App__sidebar > *
    &:hover
      cursor: pointer
  .App__main
    position: relative
    width: -webkit-fill-available
    height: 100%
    display: flex
    justify-content: center
    align-items: flex-start
    box-sizing: border-box
  .App__footer
    position: fixed
    width: 100%
    height: 60px
    bottom: 0
    z-index: 20
